body {
    background-color: salmon;
    padding: 0;
    margin: 0;
}
#top {
    margin: auto;
    width: fit-content;
    height: 780px;
    display: flex;
    align-items: center;
}
#front-quote {
    font-size: 50px;
    text-align: center;
    border: 10px salmon;
    font-family: 'Satoshi', sans-serif;
    font-weight: 600;
}
#middle {
    align-items: center;
    height: 100px;
    display: flex;
    width: 100%;
    background-color: #ff6a5e;
}
#header {
    padding-top: 65px;
    padding-left: 10px;
    font-family: 'Satoshi';

}